{% extends 'base.html' %}

{% block content %}
<h2>Property Details</h2>
<div class="card mb-4">
  {% if property.pictures %}
  <img src="{{ property.pictures.url }}" class="card-img-top" alt="{{ property.street_number }} {{ property.street_name }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ property.street_number }} {{ property.street_name }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Complement:</strong> {{ property.complement }}</li>
      <li class="list-group-item"><strong>Landlord:</strong> {{ property.landlord }}</li>
      <li class="list-group-item"><strong>Date Acquired:</strong> {{ property.date_acquired }}</li>
      <li class="list-group-item"><strong>Utilities:</strong>
        {{ property.internet|yesno:"Internet Yes,Internet No" }},
        {{ property.electricity|yesno:"Electricity Yes,Electricity No" }},
        {{ property.gas|yesno:"Gas Yes,Gas No" }},
        {{ property.trash|yesno:"Trash Yes,Trash No" }}
      </li>
      <li class="list-group-item"><strong>Date Released:</strong> {{ property.date_released }}</li>
      <li class="list-group-item"><strong>Contract Length:</strong> {{ property.contract_length }} months</li>
      <li class="list-group-item"><strong>Maintenance:</strong> {{ property.maintenance }}</li>
      <li class="list-group-item"><strong>Rooms:</strong> {{ property.rooms }}</li>
      <li class="list-group-item"><strong>Bathrooms:</strong> {{ property.bathrooms }}</li>
      <li class="list-group-item"><strong>Type:</strong> {{ property.type }}</li>
      <li class="list-group-item"><strong>Rent:</strong> {{ property.rent }}</li>
      <li class="list-group-item"><strong>Rent Margin:</strong> {{ property.rent_margin }}</li>
      <li class="list-group-item"><strong>Actual Margin:</strong> {{ property.actual_margin }}</li>
      <li class="list-group-item"><strong>Profit:</strong> {{ property.profit }}</li>
      <li class="list-group-item"><strong>Real Profit:</strong> {{ property.real_profit }}</li>
    </ul>
  </div>
</div>
{% endblock %}